:root {
    --dark: rgb(23, 6, 3);
    --light: rgb(229, 255, 225);
}

nav {
    background-color: var(--dark);
    color: var(--light);
}

#navLink {
 color: var(--light);
}

#newPostBtn {
    background-color: var(--dark);
    color: var(--light);
    border-radius: 10px;
    height: 35px;
    width: 100px;

}

#logout {
    color: var(--light);
    padding: 0;
    border: none;
    background: none;
}

body {
    background-color: var(--light);
    color: var(--dark)
}

#postLink{
    font-size: 35px;
    font-weight: bold;
    color:var(--dark)
}